#calcs {
  margin: 0;
  z-index: 0;
  

  .side-bar {
    background: $secundary-color;
    color: #fff;
    height: 100%;
    position: absolute;

    ul {
      overflow-x: auto;
      height: 100%;
      margin: 0;

      &::-webkit-scrollbar { display: none }

      li {
        min-height: 44px;
        line-height:20px;
        padding: 10px;

        &.filter-title { padding-left: 0 }
        &.active { font-weight: bold }
      }
    }
  }

  
  .form-grid {
    display: none;
    .form-grid h4 { margin-bottom: 10px }
    &.active { display: block }
  }
  
  .forms { padding: 20px }
    
  .conteudo-calculos{ width: 100% }

  .subtitle {
    font-size: 14px;
    margin-top: 60px;
  }

  .btn {
    display: block;
    width: 160px;
  }

  .resultado-tela { font-weight:bold }
  .input-field.col label { font-size: 13px }
}




