body {
  // Some bits of styles reset
  &, * {
    border: none;
    line-height: 1em;
    margin: 0;
    outline: none;
    padding: 0;

    &, &:before, &:after { @include box-sizing(border-box) }
  }
  li { list-style: none }
  input, button, textarea { font: inherit }
}