body.modal-opened {
  overflow: hidden;
  #modal {
    @include position(fixed, 0 0 0 0);
    display: block;
    z-index: 99;

    #modal-overlay {
      @include position(absolute, 0 0 0 0);
      background: rgba(0, 0, 0, 0.7);
      z-index: 10;
    }

    #remote-container {
      @include position(absolute, 0 0 0 25%);
      background: #fff;
      z-index: 11;
    }
  }
}

#modal { display: none }
