#home {
  margin: 0;
  position: relative;
  z-index: 0;
  

  .side-bar {
    background: $secundary-color;
    color: #fff;
    height: 100%;
    position: absolute;

    ul li {
      height: 44px;
      line-height:44px;
      padding-left: 15px;

      &.filter-title { padding-left: 0 }
    }
  }

  .calendar { padding: 20px }
}