#home {
  margin: 0;
  z-index: 0;
  

  .side-bar {
    background: $secundary-color;
    color: #fff;
    height: 100%;
    position: absolute;

    ul li {
      height: 44px;
      line-height:44px;
      padding-left: 15px;
      transition: 0.3s ease-out;

      &:hover { background: rgba(0, 0, 0, 0.5) }

      &.filter-title {
        font-size: 16px;
        padding-left: 0;
        &:hover { background: $secundary-color }
      }
    }
  }

  .calendar { padding: 20px }
}