.input-field {
  margin-top: 25px;

  &:first-child { margin-top: 0px }

  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #706776;
    margin-bottom: 10px;
  }

  input {
    height: 35px;
    width: 100%;
    border: 1px solid #C3B7D3;
    border-radius: 3px;
    padding: 0 10px;

    &[type='submit'] {
      background-color: #7E46A6; 
      color: white;
    }
  }

  &.date_field {
    margin-top: 15px;

    label {
      font-weight: normal;
      margin-bottom: 5px;
    }
  }
}

.form-container {
  $container-width: 300px;
  width: $container-width;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #C3B7D3;
  border-radius: 3px;
  background-color: #fff;

  .diviser {
    margin-top: 20px;
    height: 2px;
    background-color: $background-color;
  }
}

.title {
  font-size: 20px;
  color: $color-1;
  text-align: center;
  margin-top: 30px !important;
  font-weight: normal;
}

.subtitle {
  margin-top: 20px;
  font-weight: bold;

  &:first-child { margin-top: 0px }
}

.action {
  margin-top: 20px !important;
  text-align: center;

  a {
    color: #000;
    font-weight: bold;
  }
}