* {
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
}

body {
  background: $background-color;
  font-family: $primary-font;
  font-size: 14px;
  color: $color-2;
  main[role="main"] {
    @include position(absolute, $header-height auto auto auto);
    background: transparent;
    margin: 0;
    min-height: calc(100vh - 64px);
    z-index: 0;
  }
}

.content > * {
  margin: 0 auto;
}

.content form {
  margin: 20px auto 0;
}
