* {
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
}

body {
  background: $background-color;
  font-family: $primary-font;
  font-size: 14px;
  color: $color-2;
  main[role="main"] { background: transparent }
}

.content > * {
  margin: 0 auto;
}

.content form {
  margin: 20px auto 0;
}
