@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'fullcalendar';

@import 'materialize/components/color';
$primary-color: #673ab7 !default;
$secondary-color: #7e57c2 !default;
$link-color: rgba( #c00, 1) !default;

@import 'materialize';

@import 'bourbon';

@import 'general/pattern/*';
@import 'general/header';
@import 'general/footer';
@import 'general/home';
@import 'general/calendar';
@import 'general/calcs';
@import 'general/modal';