@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'fullcalendar';

@import 'materialize/components/color';
$primary-color: #7E46A6 !default;
$secondary-color: #d7baff !default;
$link-color: rgba( #c00, 1) !default;

@import 'materialize';

@import 'bourbon';

@import 'general/pattern/*';
@import 'general/header';
@import 'general/home';
@import 'general/calendar';
@import 'general/calcs';